<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../style/homeStyle.css">
    <title>Home</title>
</head>
<body>
    <div id="app">
        <div v-if="selectedMovie">

            <h1>{{ selectedMovie.title }}</h1>

            <div class="movie-info">

                <img v-if="selectedMovie.poster_path" 
                    :src="'https://image.tmdb.org/t/p/w500' + selectedMovie.poster_path" 
                    :style="{ width: '300px', marginLeft: '10vw', marginRight: '5vw' }"
                >
                <div class="movie-details">
                    <p>
                        <strong>Géneros: </strong>
                        <span v-for="(genre, index) in selectedMovie.genres" :key="index">
                            {{ genre.name }}<span v-if="index < selectedMovie.genres.length - 1">, </span>
                        </span>
                    </p>
                    <p><strong>Descripción: </strong>{{ selectedMovie.overview }}</p>
                    <p><strong>Duración: </strong>{{ selectedMovie.runtime }} minutos</p>
                    <p><strong>Lanzamiento: </strong>{{ selectedMovie.release_date }}</p>
                    <p><strong>Promedio de votos: </strong>{{ selectedMovie.vote_average }}</p>
                </div>
            </div>
            
            <h2>Top Billed Cast:</h2>
            <div v-if="cast.length"></div>
                <div class="movies">
                    <div class="movie" v-for="actor in cast" :key="actor.id">
                        <img 
                            :src="`https://image.tmdb.org/t/p/w200${actor.profile_path}`" 
                            :alt="actor.name" />
                        <p><h4>{{ actor.name }}</h4> {{ actor.character }} </p>
                    </div>
                </div>
            </div>
            
            <h2>Trailer:</h2>
            <div v-if="trailer">
                <iframe 
                    width="560" 
                    height="315" 
                    :src="`https://www.youtube.com/embed/${trailer}`" 
                    frameborder="0" 
                    allowfullscreen>
                </iframe>
            </div>
            
            <h2>Recommendations:</h2>
            <div v-if="recommendations.length">
                <div class="movies">
                    <div class="movie" v-for="recommendation in recommendations" :key="recommendation.id">
                        <img 
                            :src="`https://image.tmdb.org/t/p/w200${recommendation.poster_path}`" 
                            :alt="recommendation.title" 
                            @click="irPelicula(recommendation)" />
                        <h4>{{ recommendation.title }}</h4>
                    </div>
                </div>
            </div>

            <button @click="goBack">Back to Home</button>
        </div>
    </div> 
    <script src="DetailPelicula.js"></script>
</body>
</html>
