<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
        <link rel="stylesheet" href="../style/homeStyle.css">
        <title>Home</title>
    </head>
<body>
    <div id="app">
        <div v-if="selectedMovie">
            <h1>{{ selectedMovie.title }}</h1>
            
            <h2>Cast:</h2>
            <ul>
                <li v-for="actor in cast" :key="actor.id">
                    {{ actor.name }} {{ actor.character }}
                </li>
            </ul>

            <h2>Images:</h2>
            <img v-if="selectedMovie.poster_path" :src="'https://image.tmdb.org/t/p/w500' + selectedMovie.poster_path" :style="{ width: '200px' }">
    
            <!-- Trailer Section -->
            <h2>Trailer:</h2>
            <div v-if="trailer">
                <iframe 
                    width="560" 
                    height="315" 
                    :src="`https://www.youtube.com/embed/${trailer}`" 
                    frameborder="0" 
                    allowfullscreen>
                </iframe>
            </div>
    
            <h2>Recommendations:</h2>
            <div class="movies">
                <div v-if="recommendations.length">
                    <div class="movie" v-for="recommendation in recommendations" :key="recommendation.id">
                        <img 
                            :src="`https://image.tmdb.org/t/p/w200${recommendation.poster_path}`" 
                            :alt="recommendation.title" 
                            @click="irPelicula(recommendation)" />
                        <p>{{ recommendation.title }}</p>
                    </div>
                </div>
            </div>
    
    
    
            <button @click="goBack">Back to Home</button>
        </div>
    </div> 
    <script src="DetailPelicula.js"></script>
</body>
</html>
