<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyword</title>
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
    <!-- <link rel="stylesheet" href="../style/.css"> -->
</head>
<body>
    <div id="app">
        <h1>{{ keywordName }}</h1> 
    
        <label for="type">Tipo:</label>
        <select v-model="type">
            <option value="movie">Películas</option>
            <option value="tv">Series</option>
        </select>
    
        <label for="order">Orden:</label>
        <select v-model="sortBy">
            <option value="popularity.desc">Popularidad Descendente</option>
            <option value="popularity.asc">Popularidad Ascendente</option>
        </select>
    
        <button @click="fetchResults">Buscar</button>
    
        <ul>
            <li v-for="movie in movies" :key="movie.id">
                <a @click="showDetails(movie)">{{ movie.title || movie.name }}</a>
            </li>
        </ul>
    </div>
    

    <script src="keyword.js"></script>
</body>
</html>
