<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style/homeStyle.css">
</head>
<body>
    <div id="app">
        
        <div class="botones">
            <button @click="estado=0"> Movies </button>
            <button @click="estado=1"> Series or TV-Shows</button>
            <button class="logout-button" @click="cerrarSesion">Log out</button>
        </div>


        <div class="banner" v-if="imagenBaner">
            <img :src="'https://image.tmdb.org/t/p/w1280' + imagenBaner.backdrop_path" :alt="baner">
            <h2>Welcome.</h2>
            <h3>Millions of movies, TV shows and people to discover. Explore now.</h3>
        </div>



        <div v-if="estado==0">
            <h1>Trending</h1>
            <div class="movies">
                <div class="movie" v-for="movie in movies" :key="movie.id">
                    <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irPelicula(movie)">
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>
            <h1>What's Popular</h1>
            <div class="movies">
                <div class="movie" v-for="movie in moviesPopulares" :key="movie.id">
                    <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irPelicula(movie)">
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>
            <h1> Top Rated </h1>
            <div class="movies">
                <div class="movie" v-for="movie in moviesMejorPunt" :key="movie.id">
                    <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irPelicula(movie)">
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>

            <h1> Up Coming </h1>
            <div class="movies">
                <div class="movie" v-for="movie in moviesProxima" :key="movie.id">
                    <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irPelicula(movie)">
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>
        </div>

        <div v-if="estado==1">
                <h1>Trending</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in serie" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>What's Popular</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesPopular" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>Airing Today</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesAireHoy" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>On TV</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesAire" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>Top Rated</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesMejorRaqueda" :key="movie.id">
                            <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>
        </div>

    </div>

    <script src="home.js"></script>
</body>
</html>
