<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style/homeStyle.css">
</head>
<body>
    <div id="app">

        <button class="logout-button" @click="cerrarSesion">Cerrar Sesión</button>


        <div class="banner" v-if="imagenBaner">
            <img :src="'https://image.tmdb.org/t/p/w1280' + imagenBaner.backdrop_path" :alt="baner">
            <h2>Bienvenido</h2>
            <h3>Millones de películas, series y gente por descubrir. Explora ya.</h3>
        </div>


        <div class="botones">
            <button @click="estado=0"> Peliculas </button>
            <button @click="estado=1"> Series o TV</button>
        </div>

        <div v-if="estado==0">
            <h1>Tendencias</h1>
            <div class="movies">
                <div class="movie" v-for="movie in movies" :key="movie.id">
                    <a href="">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title">
                    </a>
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>
            <h1>Mas populares</h1>
            <div class="movies">
                <div class="movie" v-for="movie in moviesPopulares" :key="movie.id">
                    <a href="">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title">
                    </a>
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>
            <h1> Mejor valoradas </h1>
            <div class="movies">
                <div class="movie" v-for="movie in moviesMejorPunt" :key="movie.id">
                    <a href="">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title">
                    </a>
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>

            <h1> Proximas </h1>
            <div class="movies">
                <div class="movie" v-for="movie in moviesProxima" :key="movie.id">
                    <a href="">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title">
                    </a>
                    <h4>{{ movie.title }}</h4>
                </div>
            </div>
        </div>

        <div v-if="estado==1">
                <h1>Tendencias</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in serie" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>Populares</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesPopular" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>Al Aire Hoy</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesAireHoy" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>Al Aire Ahora</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesAire" :key="movie.id">
                        <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>

                <h1>Mejor Valoradas</h1>
                <div class="movies">
                    <div class="movie" v-for="movie in seriesMejorRaqueda" :key="movie.id">
                            <img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :alt="movie.title" @click="irSerie(movie)">
                        <h4>{{ movie.name }}</h4>
                    </div>
                </div>
        </div>

    </div>

    <script src="home.js"></script>
</body>
</html>
