body {
    margin: 70px;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    padding: 20px;
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: brightness(0.6);
}

.banner h2 {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.banner h3 {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
    border-radius: 5px;
}

.botones {
    text-align: center;
    margin: 20px 0;
}

.botones button {
    background-color: #e50914;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.botones button:hover {
    background-color: #b80610;
}

h1 {
    font-size: 2rem;
    margin: 40px 20px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e50914;
    text-align: center;
}

.cast, .recommendations {
    margin: 20px 0;
}

.actor, .recommendation-card {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 10px;
    width: 170px;
}

.actor img, .recommendation-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.actors, .recommendations {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 20px;
    scroll-behavior: smooth;
}

.actors::-webkit-scrollbar,
.recommendations::-webkit-scrollbar {
    /*display: none;*/
}

.ver-mas {
    text-align: center;
    margin: 20px 0;
}

.ver-mas button {
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ver-mas button:hover {
    background-color: #b80610;
}


@media (max-width: 768px) {
    .actors, .recommendations {
        gap: 5px;
    }
    .actor, .recommendation-card {
        width: 100px;
    }
}
