
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

#app {
    background-color: #333;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}


label {
    display: block;
    margin: 15px 0 5px;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    font-size: 1rem;
}

input:focus {
    outline: none;
    background-color: #555; 
}


button {
    margin-top: 20px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b80610;
}


.message {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #ffcc00;
}
